<div class="toolbar">
  <img src="assets/pokemon.png" alt="Pokemon" />
  <div class="spacer"></div>
  <div class="form" *ngIf="showSearchInput" [@fadeInOut]>
    <input
      class="input"
      type="text"
      placeholder=" "
      [formControl]="control"
      [matAutocomplete]="auto"
      (keypress)="changeText()"
      #input
    />
    <button
      *ngIf="input.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="input.value = ''; clearText()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <label for="email" class="label">Pokemons</label>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="pokemonSelected($event.option.value)"
    >
      <mat-option
        *ngFor="let pokemon of filteredPokemons | async"
        [value]="pokemon"
      >
        {{ pokemon }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <button
    mat-icon-button
    color="primary"
    aria-label="Search"
    (click)="showSearchInput = !showSearchInput"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
