<div class="toolbar">
  <img src="assets/pokemon.png" alt="Pokemon" />
  <div class="spacer"></div>
  <div class="form">
    <input
      class="input"
      type="text"
      placeholder=" "
      [matAutocomplete]="auto"
      [formControl]="control"
      (keyup.enter)="getPokemonData()"
      #input
    />
    <button
      *ngIf="input.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearText()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <label for="email" class="label">Pokemons</label>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="getPokemonData()"
    >
      <mat-option
        *ngFor="let pokemon of filteredPokemons | async"
        [value]="pokemon"
      >
        {{ pokemon }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <button
    mat-icon-button
    color="primary"
    aria-label="Search"
    (click)="getPokemonData()"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    aria-label="Fight"
    (click)="changeFightState()"
    [ngClass]="fightState ? 'selected' : '' "
  >
    <mat-icon>local_fire_department</mat-icon>
  </button>
</div>
